*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 210px;
    background-color: #1e1e1e;
    padding: 60px 210px;
}

body{
    background-color: aliceblue;
}

a{
    color: white;
    margin: 100px;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: 5vh;
}

#prime_b{
    width: 1310px;
}

div{
    display: inline-block;
    box-sizing: content-box;
}

section{
    margin-bottom: 30px;
}

.pic{
    width: 370px;
    margin: 5px;
}

figcaption{
    text-align: center;
    font-weight: 550;
}

.capa{
    width: 101%;
    height: 80vh;
    border-radius: 60px;
    z-index: 0;
}


.capa:hover{
    width: 105%;
    height: 86vh;
    transition: 0.3s 0.1s;
    background-color: #1e1e1e;
    box-shadow: 5px 5px 37px 17px #292922;
    position: relative;
    z-index: 1;
}

.seta-box{
    width: 50px;
    height: 80px;
    margin: 10px;
}

.seta{
    width: 40px;
    height: 70px;
    margin-bottom: 250px;
    margin-top: 250px;
    padding: 5px;
}

.seta:hover{
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(177, 177, 177);
}

footer{
    background-color: #1e1e1e;
    color: white;
    height: 170px;
    box-sizing: content-box;
}

footer > p {
    font-size: small;
}

li{
    margin: 50px 0px 50px 0px;
    padding: 0;
    display: inline-block;
}

li > a{
    margin: 30px;
    height: 30px;
}

a > img {
    width: 60px;
    height: 60px;
}